*
{
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
}
body{
	font:300 16px Oswald;
}
#login{
	width:300px;
	margin:0 auto;
	position:relative;
	top:250px;
	border: 1px solid #f1f1f1;
	padding: 15px;
}
#login label{
	display: block;
	padding-top: 5px;
}
.acomodar{
	margin: 0 auto;
	width: 250px;
}
.logo{
	width: 200px;
	height: 58px;
	margin: 0 auto;
	padding: 7px;
}
#cadastrar{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-webkitborder-bottom-right-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	width: 120px;
	height: 40px;
	font: 400 18px Oswald;
	background: #f1f1f1;
	text-align: center;
	line-height: 40px;
	color: #999;
}
.txt{
	border: none;
	height: 40px;
	width: 250px;
	border: thin solid #f1f1f1;
}
.txt:focus{
	border:thin solid #09f;
	box-shadow: 0.2px 10px #09F;
	-webkit-box-shadow: 0.2px 10px #09F;
	-moz-box-shadow: 0.2px 10px #09F;
}
.sb{
	display: block;
	border: none;
	width: 250px;
	height: 40px;
	margin-top: 10px;
	cursor: pointer;
	font:400 18px Oswald;
	color: #999;
}
.sb:hover{
	background: #09F;
	color: #fff;
}
/*herança*/
.bradius{
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}
/*multiplos estilos*/
.txt,.txt.focus,.sb,.sb:hover{
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
}

